:host {
  // Page layout
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: auto;

  &.offline {
    --vignette-color: light-dark(rgb(214, 145, 145), rgb(78, 32, 32));
  }

  // Apply background image
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/api/background');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition: background-position 0.1s ease;
  }
  // Move background with cursor if user allows motion
  &:not(.inactive)::before {
    @media (prefers-reduced-motion: no-preference) {
      background-position: var(--background-position-x, center)
        var(--background-position-y, center);
    }
  }

  // Apply vignette when browser tab is inactive
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      circle at center center,
      transparent 0%,
      var(--vignette-color, var(--color-background)) 100%
    );
    z-index: -1;
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
  }
  &.inactive::after {
    opacity: 1;
  }

  // Other styles
  &:has(app-dashboard) > header {
    @media screen and (max-width: 470px) {
      padding-right: 4.2rem;
    }
  }

  > header {
    display: flex;
    place-items: center;
    padding: 1rem 1rem 0 1rem;
    gap: 0.25rem 0.5rem;
    background: linear-gradient(
      to bottom,
      var(--color-background-button),
      transparent
    );
    @media screen and (max-width: 470px) {
      flex-direction: column;
    }
    h1 {
      flex: 1;
    }
    div {
      display: flex;
      place-items: center;
      @media screen and (max-width: 240px) {
        flex-direction: column;
      }
    }
    > div {
      gap: 0.5rem;
    }
  }
}
