{:deps
 {io.github.chr15m/sitefox
  {:git/tag "v0.0.26"
   :git/sha "e6ea2027b5d4277917732d43d550083c8e105da9"}}

 :paths ["src" "resources"]

 :aliases
 {:dev
  {:extra-deps
   {thheller/shadow-cljs
    {:mvn/version "2.28.23"}}}}}
