{:source-paths
 ["src"]

 :dependencies
 [[reagent/reagent "1.2.0"]
  [funcool/promesa "11.0.678"]]

 :builds
 {:client
  {:target :browser
   :output-dir "public/cljs"
   :asset-path "/cljs"
   :modules
   {:app
    {:init-fn scrov.core/init}}
   :devtools
   {:after-load scrov.core/reload!}}

  :server
  {:target :node-script
   :output-to "target/server.js"
   :main scrov.server/main!}}}
