.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0.5rem 1rem;
  &.active,
  &:hover {
    background-color: var(--color-background-list);
  }
}
.list-item-empty {
  display: flex;
  align-items: center;
  gap: 1rem;
}
