<ng-template #filterMenu>
  <menu>
    @for (tag of tags.value(); track tag) {
      <button type="button" (click)="filter(tag)">{{ tag | string: 'titleCase' }}</button>
    }
    <button type="button" (click)="filter('nothing')">Nothing</button>
    <button type="button" (click)="filter(undefined)">All</button>
  </menu>
</ng-template>

<nav>
  <lib-popover-toggle [popoverPanel]="filterPopover" [icon]="'filter_alt'" class="filter"></lib-popover-toggle>
  <ng-container *ngTemplateOutlet="filterMenu"></ng-container>
  <lib-popover-toggle [popoverPanel]="popoverPanel" [icon]="'more_vert'" class="settings"></lib-popover-toggle>
</nav>

<lib-popover #filterPopover [hideOn]="'click'">
  <ng-container *ngTemplateOutlet="filterMenu"></ng-container>
</lib-popover>
<lib-popover #popoverPanel>
  <lib-settings-form></lib-settings-form>
</lib-popover>

<section [@widgets]="{ value: widgets() }" [@.disabled]="animationDisabled()" class="widget-area">
  @for (widget of widgets(); track widget.id) {
    <lib-widget-loader [data]="widget"> </lib-widget-loader>
  } @empty {
    @if (isLoading()) {
      <span class="loading">
        <lib-spinner [spin]="true"></lib-spinner>
      </span>
    } @else if (error()) {
      <span class="error">{{ error() }}</span>
    }
  }
</section>

<footer class="info-box">
  <p>
    This is my sandbox, my playground. In this app, I can try out all things web related. It is a place where I can
    experiment with new technologies and ideas. I can create widgets that visualize data, or I can create games that
    entertain me. I can even create tools that help me with my daily tasks. I can add all these programs as widgets in
    this dashboard.
  </p>
  <div><a href="/api/">API Documentation</a></div>
</footer>
